.image-form {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;

  --s: 10px;
  --c1: #ffb347;
  --c2: #ec0c71ed;

  --c: var(--c1) calc(100% - 2px), #0000;
  --r: calc(2.414 * var(--s));
  --p: calc(1.414 * var(--s));
  --g: radial-gradient(var(--s), var(--c));

  background:
    radial-gradient(var(--r) at 0    0   , var(--c)),
    radial-gradient(var(--r) at 0    100%, var(--c)),
    radial-gradient(var(--r) at 100% 0   , var(--c)),
    radial-gradient(var(--r) at 100% 100%, var(--c)),
    var(--g), var(--g), var(--g), var(--g),
    var(--c2);

  background-position: 
    var(--r) var(--r), 0 var(--p), var(--p) 0,
    calc(-1 * var(--s)) calc(-1 * var(--s));

  background-size: calc(2 * var(--r)) calc(2 * var(--r));
}

